<app-nav></app-nav>
<main role="main"
 class="container">
	<router-outlet></router-outlet>
</main>
<footer>
	<div class="container">
		<!-- <p>&copy; Footer
			<i class="fa fa-heart"
			 aria-hidden="true"></i>️ by
			<strong>
				<a target="_blank"
				 rel="noopener"
				 href="https://github.com/sketch7">sketch7</a>
			</strong> 2017.</p> -->
	</div>
</footer>