<h1>Forgot Password</h1>

<form action="/action_page.php">
	<label style="margin-top: 100px;margin-right:40px;" for="email">Email:</label>
	<input type="text" id="fname" name="fname"><br><br>
	<label style="margin-right:10px;"for="passwor">Password:</label>
	<input type="text" id="fname" name="fname"><br><br>
	<input style="margin-top: 100px;"type="submit" value="Submit">
</form>