<h1>Registration page</h1>

<form action="/action_page.php">
	<label style="margin-top: 100px;margin-right:10px;" for="fname">First name:</label>
	<input type="text" id="fname" name="fname"><br><br>
	<label style="margin-right:12px;"for="lname">Last name:</label>
	<input type="text" id="fname" name="lname"><br><br>
    <label style="margin-right:48px;" for="email">Email:</label>
	<input type="text" id="fname" name="email"><br><br>
	<label style="margin-right:18px;"for="password">Password:</label>
	<input type="text" id="fname" name="password"><br><br>
	<input style="margin-top: 100px;"type="submit" value="Submit">
</form>