<h1>Strategy List</h1>
<p>
</p>

<ul class="projects-container">
	<li *ngFor="let project of projects">

		<a target="_blank"
		 rel="noopener"
		 [href]="project.url">
			<app-project [project]="project"></app-project>
		</a>

	</li>
</ul>