<h1>
	{{title}}
</h1>

<form action="/action_page.php">
	<label style="margin-top: 100px;margin-right:40px;" for="email">Email:</label>
	<input type="text" id="fname" name="fname"><br><br>
	<label style="margin-right:10px;"for="passwor">Password:</label>
	<input type="text" id="fname" name="fname"><br><br>
	<input style="margin-top: 100px;"type="submit" value="Submit">
</form>
<!-- <p>Angular 10.x <a href="https://github.com/sketch7/angular-skeleton-app">navigation skeleton project</a> with styling which get you started faster.</p>
<ul>
	<li>Angular CLI 10.x template</li>
	<li>SCSS for styling</li>
	<li>Bootstrap 4.x and font awesome</li>
	<li>Navigation/layout</li>
	<li>Theming</li>
</ul>

<p>
	See other <a routerLink="/projects">open source projects</a> developed.
</p> -->